html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
body {
  display: block;
  background-color: #efefef;
  background-image: url(../img/white_wall_hash.png);
}
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-family: 'Roboto';
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 28px;
}
ul {
  margin: 0;
}
p {
  line-height: 1.55;
  font-weight: 200;
}


/* === APPLICATION == */ 

.app {
  max-width: 100%;
  width: 100vw;
}
.app .logo {
  text-align: center;
  padding: 35px 0px;
}
.app .logo h2 {
  font-size: 52px;
}
.app .logo span {
  color: #f9442c;
}
@media screen and (max-width: 768px) {
  .app .logo {
    padding: 10px;
  }
  .app .logo h2 {
    font-size: 42px;
  }
}


/* === NAVBAR === */

.nav {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #dddddd;
  padding: 0px 22px;
  font-size: 16px;
  background-color: #ffffff;
}
.nav .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 0px;
}
nav .logo > .mobile {
  display: none;
}
.nav .brand img {
  max-width: 40px;
  margin-right: 10px;
}
.nav ul.nav-items {
  flex: 1;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.nav ul.nav-items .vertical-line {
  height: 45px;
  width: 1px;
  background-color: #eeeeee;
  margin: 0px 16px;
}
.nav ul.nav-items li {
  display: flex;
  align-items: center;
}
.nav ul.nav-items li i {
  font-size: 22px;
  vertical-align: middle;
  
}
.nav ul.nav-items li a i {
  display: inline-block;
  margin-left: 5px;
  width: 22px;
}
.nav ul.nav-items li span.user-profile i {
  font-size: 28px;
  overflow: hidden;
}
.nav a {
  color: #333333;
  text-decoration: none;
}
.nav a:hover {
  color: #000000;
}
.nav ul li a:hover {
  color: #0692a9;
}
.nav ul li .active {
  color: #08a9c3;
}
.nav ul.nav-items li span.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5c5c5;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 16px;
}
@media screen and (max-width: 480px) {
  .nav .logo > .desktop {
    display: flex;
  }
  .nav .logo > .mobile {
  display: none;
  }
  .nav ul.nav-items li span {
    display: none;
  }
  .nav ul.nav-items li span.user-profile {
    margin: 0px;
  }
  .nav ul.nav-items li a i {
    font-size: 38px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .nav .logo > .desktop {
    display: none;
  }
  .nav .logo > .mobile {
  display: flex;
  }
}


/* === FOOTER == */

.footer {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
}
.copyright {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* === LOGIN PAGE === */

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
}
.login {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.login h2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-wrapper {
    margin-top: 50px;
  }
  .login h2 {
    font-size: 34px;
    margin-top: 10px;
  }
}

/* === REGISTER PAGE === */

.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 500px;
}
.register {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* === ISSUE COMMON === */
.app-container {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}
.issue-wrapper {
  width: 100%;
  max-width: 750px;
  margin: 10px auto;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px;
  border-radius: 3px;
}
.issue-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.issue-header h2 {
  margin: 10px 0px;
  text-transform: uppercase;
}
#add-issue-back {
  display: block;
  color: #06879c;
  margin: 0px;
  padding: 0px 5px;
  border-radius: 3px;
  font-size: 14px;
  transition: all 0.4s ease;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
#add-issue-back:hover {
  color: #ffffff;
  background-color: #08a9c3;
}
#add-issue-back i {
  display: inline-block;
  min-width: 10px;
  font-size: 12px;
}


/* === ISSUE LIST === */

.issue-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0px 10px;
}
.issue-list-header h2 {
  margin: 10px 0px;
  text-transform: uppercase;
}
.issue-list-header a span {
  display: inline;
}
.issue-list-filter {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.issue-list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid #e5e5e5;
}
a.issue {
  font-size: 16px;
  min-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #e5e5e5;
  color: #575757;
}
a.issue:last-of-type {
  border-bottom: none;
}
a.issue:hover {
  box-shadow: 1px 1px 5px;
}

.issue-list-head > .issue-title,
.issue > .issue-title {
  flex: 1;
  min-width: 50px;
  padding: 10px 4px;

}
.issue-list-head .issue-date,
.issue .issue-date {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.issue-list-head .business-id,
.issue .business-id {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.issue-list-head > .issue-status,
.issue .issue-status {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 4px;
  width: 130px;
  text-align: center;
  padding: 10px 4px;
}
.issue .issue-status {
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .issue-wrapper {
    border-radius: 0px;
  }
  .issue-list-header a {
    display: block;
    box-sizing: border-box;
  }
  .issue-list-header a span {
    display: none;
  }
  .issue-list-header a i {
    font-size: 28px;
  }
  .issue > .issue-date,
  .issue > .issue-title,
  .issue > .issue-status {
    font-size: 10px;
  }
  .issue-list-head .issue-date,
  .issue-list-head .issue-status,
  .issue .issue-date,
  .issue .issue-status {
    width: 75px;
    overflow: hidden;
    white-space: nowrap;
  }
}


/* === ADD ISSUE == */
.add-issue {
  padding: 20px;
}
.issue-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.issue-input-group label {
  font-size: 18px;
  font-weight: 400;
}
.issue-input-group input,
.message-input-group textarea,
.issue-input-group textarea {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 12px 8px;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}
.issue-input-group textarea {
  min-height: 200px;
  resize: none;
}
.message-input-group textarea {
  min-height: 50px;
  resize: none;
}
.issue-input-group input:focus,
.issue-input-group textarea:focus {
  box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.5);
}
.add-issue button {
  background-color: #08a9c3;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  border: 1px solid #0899a3;
  font-size: 16px;
  transition: all 0.4s ease;
  cursor: pointer;
  text-decoration: none;
}
.add-issue button:hover {
 background-color: #06879c;
}

/* === ISSUE DETAILS === */
.issue-details {
  padding: 10px;
  font-size: 18px;
}
.issue-details span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  float: left;
 
}

.issue-details .textDiv{
 margin-right: 20px;
     float: left;
}
.issue-details .issue-title {
  margin-right: 10px;
    width: 100%;
  float: left;
}
.issue-details .issue-description {
  flex: 1;
  min-height: 200px;
}
.issue-details .issue-date {
  display: block;
  text-align: right;
}
.issue-details .issue-assigned-to {
  flex: 1;
}
.issue-details .issue-status {
  margin-right: 10px;
  text-align: left;
}
.issue-details .issue-closed {
  text-align: right;
}
.issue-details .stars{
	float: right;
}
.issue-logs,
.issue-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.issue-details a {
  margin: 5px 5px 0px 0px;
}

/* === FORMS === */

.login form,
.register form,
.search form {
  background: transparent;
}
.input-group {
  display: flex;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  background: transparent;
}
.input-group:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}
.input-group input {
  max-width: 350px;
  border: none;
  background: transparent;
  outline: none;
}
.input-group input[type=number] {
	-moz-appearance:textfield;
}
.input-group input[type=number]::-webkit-inner-spin-button,
.input-group input[type=number]::-webkit-outer-spin-button {
	-moz-appearance:none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.input-group input:focus::-webkit-input-placeholder {
  color:transparent; 
}
.input-group input:focus:-moz-placeholder { 
  color:transparent;
}
.input-group span {
  margin-right: 10px;
}
.input-group label {
	font-size:10px;
	color: #a94442;
}
.input-subgroup {
  display: flex;
  flex-direction: column;
}
.login button,
.register button,
.search button {
  width: 100%;
  background-color: #08a9c3;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  border: 1px solid #0899a3;
  font-size: 16px;
  transition: all 0.4s ease;
  cursor: pointer;
  text-decoration: none;
}
.login button:hover,
.register button:hover,
.search button:hover {
  background-color: #06879c;
} 
.login a,
.register a,
.search a {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}


/* === MESSAGES === */
.alert {
	width: 100%;
	max-width:750px;
	margin: 10px auto 0px;
	text-align: center;
	cursor: pointer;
}
.alert i:after {
	content: " ";
}
.alert i:nth-of-type(2) {
	float: right;
}
.login .alert,
.register .alert,
.search .alert {
	position: absolute;
	top: 0px;
	left:0px;
	margin: 0px;
	max-width:100%;
	font-size: 16px;
	border-radius:0px;
}
.login .alert i:nth-of-type(2),
.register .alert i:nth-of-type(2),
.search .alert i:nth-of-type(2) {
	display:none;
}
.issue-messages {
  padding: 0px 10px;
}
.issue-messages ul.message-list {
  list-style: none;
  margin: 20px 0px;
  padding: 10px;
  background-color: #whitesmoke;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid whitesmoke;
}
.issue-messages ul.message-list span {
  font-weight: bold;
  color: #0899a3;
}
.issue-messages ul.message-list span:after {
  content: ": ";
}
.issue-messages input {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 10px 8px;
  width: 60%;
  margin-top: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}
@media screen and (max-width: 480px) {
	.alert {
		border-radius: 0px;
	}
}

/* === MODAL === */
.modal-container {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  will-change: opacity;
  padding-top: 60px;
}
.modal-backdrop {
  z-index:auto;
  background-color: rgba(0,0,0,0.5);
  cursor:pointer;
}
.modal-container.hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-container.hidden .modal-window {
  transform: translateY(100%);
}
.modal-container .modal-window {
  z-index: 3;
  transform: translateY(0);
  will-change: transform;
  transition: transform 0.3s ease-in;
  transition-delay: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 140px);
  max-height: 550px;
}
.modal-window .issue-header {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.modal-window .issue-messages {
	width:100%;
	overflow: hidden;
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.modal-window ul.message-list {
	height: inherit;
	max-height:250px;
	flex: 1;
}
.modal-window .issue-messages form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} 
/* === BUTTONS === */

.btn {
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  font-size: 16px;
  transition: all 0.4s ease;
  cursor: pointer;
  text-decoration: none;
}
.btn-blue {
  background-color: #08a9c3;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #06879c;
  color: #ffffff;
}


/* FILTER BUTTONS */

.filter-header {
  margin-right: 5px;
}
.filter-items {
  flex: 1;
}
.filter-item {
  display: inline-block;
  border: 1px solid #08a9c3;
  border-radius: 3px;
  color: #08a9c3;
  font-size: 12px;
  padding: 5px 8px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
}
.filter-item.filter-selected {
  color: #ffffff;
  background-color: #08a9c3;
}
.filter-item:hover {
  color: #ffffff;
  background-color: #06879c;
  border: 1px solid #06879c;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
  border: 1px solid #08a9c3;
  border-radius: 3px;
  color: #08a9c3;
  font-size: 12px;
  padding: 5px 8px;
}
input[type="checkbox"] + label:checked {
  color: #ffffff;
  background-color: #08a9c3;
}
input[type="checkbox"] + label:hover {
  color: #ffffff;
  background-color: #06879C;
}


/* === HELPERS === */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.row-fill {
  flex: 1;
}
.status-success {
  background-color: #dff0d8;
}
.status-info {
  background-color: #d9edf7;
}
.status-warning {
  background-color: #fcf8e3;
}
.status-error {
  background-color: #f2dede;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.flex-align-bottom {
  align-items: flex-end;
}
.issue-input-group .error {
    color: #a94442;
    font-size: 10px;
}
#loader-img{
    position:absolute;
    
    
    z-index: 100;
}

#loader-img img{
	left:50%; 
    top:50%;
    margin-left:-50px; /*image width/2 */
    margin-top:-50px; /*image height/2 */
	width: 100px;
	height: 100px
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 
                50% 50% 
                no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.colorFont{
	color:#06879c;
}
br{
	clear:both;
}
.menu{
	float:right;
	margin-right:10px;
	margin-left: 70%;
}